body {
    font-family:"Microsoft YaHei", Helvetica, Arial, Vernada, Tahoma, STXihei, "Songti SC", SimSun, Heiti, sans-serif;
	color:#2c4f54;
	margin:20px auto;
}

@media screen and (min-width: 1000px){
    body {
		font-size: 2em;
	}
}

@media screen and (max-width: 1000px){
	body {
		font-size: 4em;
	}
}

p{
    text-align:center;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: #fff;
}

.navbar-default {
	background-image: none;
	background-color: #fff;
  box-shadow: none;
}

rt {
	color: #1f3134;
}
